:root {
  --menu-text-color: #f72585;
  --menu-text-hover-color: #4CC9F0 ;
  --menu-border-color: black; 
}


body, html, #root {
  min-height: 100vh;

}

.App {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;


}


main {
  flex: 1;
  padding: 14px;
}

footer {
  border-top: 1px solid var(--menu-border-color);
  padding: 10px;
  text-align: center;;
}


@media (prefers-color-scheme: dark) {
  :root {
    --menu-border-color: #ebb2ff;
    --background-color: #851739;
    --text-color: white;
    --active: #f77f00;
    --menu-text-color: #ff6cf3;
    --menu-text-over-color: #83d0ff;
    --button-background-color: #427bfe;
    --button-background-color-hover: #c865f9ff;
  }
}